<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crypto Data Monthly Report</title>

    <style>
         table, th, td {
            border: 1px solid black;
            border-color: #96D4D4
         }
      </style>

</head>
<body>
<h1 th:text="${cryptoReport.cryptoSymbol} + ' report - ' + ${cryptoReport.reportedMonth}  "></h1>
<br>
<h3 th:text="'Monthly normalized price: ' + ${cryptoReport.normalizedValue}"></h3>


<table >
    <tr>
        <td>MAX price</td>
        <td th:text="${cryptoReport.maxValue}">max Price</td>
        <td th:text="${cryptoReport.maxValueDate}">max Price Date</td>
    </tr>
    <tr>
        <td>MIN price</td>
        <td th:text="${cryptoReport.minValue}">min Price</td>
        <td th:text="${cryptoReport.minValueDate}">min Price Date</td>
    </tr>
    <tr>
        <td>Newest price</td>
        <td th:text="${cryptoReport.newestValue}">newest Price</td>
        <td th:text="${cryptoReport.newestValueDate}">newest Price Date</td>
    </tr>
    <tr>
        <td>Oldest price</td>
        <td th:text="${cryptoReport.oldestValue}">oldest Price</td>
        <td th:text="${cryptoReport.oldestValueDate}">oldest Price Date</td>
    </tr>
</table>
</body>
</html>