<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crypto Recommendation Service</title>

    <style>
         table, th, td {
            border: 1px solid black;
            border-color: #96D4D4
         }
      </style>

</head>
<body>
<h1>Crypto Recommendation Service</h1>
<h3><a href="http://localhost:8080/swagger-ui.html">SwaggerUI documentation</a></h3>
<br>
<h3><a href="http://localhost:8080/crypto">List of available currencies (just for demo purposes)</a></h3>

</body>
</html>