<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crypto Recommendation Service</title>

    <style>
         table, th, td {
            border: 1px solid black;
            border-color: #96D4D4
         }
      </style>

</head>
<body>
<h1>Crypto Recommendation Service</h1>
<h3><a th:href="'http://localhost:' + ${@environment.getProperty('server.port')} + '/swagger-ui.html'">SwaggerUI documentation</a></h3>
<br>
<div th:if="${@environment.getActiveProfiles()[0] == 'dev'}">
    <h2>[DEV PROFILE ACTIVE]</h2>
    <h3><a href="'http://localhost:' + ${@environment.getProperty('server.port')} + '/crypto' ">List of available currencies (just for demo purposes)</a></h3>
</div>
</body>
</html>